<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finished Survey</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

  <style>
    html,
    body {
      height: 100%;
      margin: 0;
    }

    body {
      background: linear-gradient(to bottom,
          rgba(0, 0, 0, 0.3) 0%,
          rgba(0, 0, 0, 0.7) 75%,
          #000 100%);
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
      min-height: 100%;
    }

    .yabbadabba {
      color: #04f9e8;
    }
  </style>
</head>

<body>

  <div class="jumbotron text-center">
    <div class="fa-4x">

      <i class="fas fa-check" style="color:#0dca5c"></i>

    </div>
    <h1 class="display-3">Thank you!</h1>
    <h2 class="lead"><strong>Your response has been submitted successfully.</strong></h2>
    <hr>
    <p>
      <a href="/" class="yabbadabba">Take me home</a>
      <a href="/survey" class="yabbadabba"> Take the survey again</a>
    </p>
  </div>

</body>

</html>