<!-- landing page, dashboard -->
<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        function logout(){
            localStorage.setItem("loggedin", 'False');
            location.reload()
        }
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Provo Mental Health</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="css/styles.css">
    
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" id="create"><a class="nav-link" href="/createAccount">Create Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="#dashboard">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="/survey">Survey</a></li>
                    <li class="nav-item"><a class="nav-link" href="/database">Database</a></li>
                    <li class="nav-item" onclick="logout()"><a class="nav-link" href="/login" id="login">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Social Media</h1>
                    <h3 class="text-white mx-auto my-4 text-uppercase">and</h3> 
                    <h1 class="mx-auto my-0 text-uppercase">Mental Health</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Studying the effects social media use has on mental
                        health here in Provo. </h2>
                    <a class="btn btn-primary" href="#dashboard">Explore Dashboard</a>
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="about-section text-center" id="dashboard">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">Insert Dashboard Here</h2>
                    <p class="text-white-50">
                        Here is where we will put our dashboard that will put all other dashboards to shame
                        because none of the other dashboards have our special ingredient. You will never
                        know what the secret ingredient is because mister krabs has locked it away in his
                        secret vault where our archenemy evil mister plankton will never find it unless
                        he creates a device to take control of spongebob the fry cook's brain and maniacally
                        maneuver his way into the back rooms of the krusty krab and steal the formula for himself
                        only to discover, to his dismay, that the secret ingredient is in fact crab meat.
                    </p>
                </div>
            </div>
            <img class="img-fluid" src="assets/img/ipad.png" alt="..." />
        </div>
    </section>
    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="..." /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Since 2023</h4>
                        <p class="text-black-50 mb-0">Our team of researchers has been working to raise
                            awareness for mental health issues specifically related to social media use</p>
                    </div>
                </div>
            </div>
            <!-- <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">2.989 Billion</h4>
                                <p class="mb-0 text-white-50">Facebook users worldwide with
                                    <br> 2.037 billion users daily</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="..." /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">50%</h4>
                                <p class="mb-0 text-white-50">of all lifetime mental illness begins
                                    <br>by age 14 and 75% by age 24</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <!-- Signup-->
    <section class="signup-section" id="signup">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="fas fa-list fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5">Help Raise Awareness For Mental Health Issues</h2>
                    <a class="btn btn-primary" href="/survey">Take the Survey</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact-->
    <section class="contact-section bg-black">
        <div class="container px-4 px-lg-5">
            <div class="social d-flex justify-content-center">
                <a class="mx-2" href="https://www.x.com/provocity" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="mx-2" href="https://www.facebook.com/provocity" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="mx-2" href="https://www.instagram.com/provocity" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer bg-black small text-center text-white-50">
        <div class="container px-4 px-lg-5">Copyright &copy; Group 1-15 2023</div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <script>
        if(localStorage.getItem("loggedin") == 'True'){
            document.getElementById("login").href = "#";
            document.getElementById("login").innerHTML = "Logout";
            document.getElementById("create").style.visibility = "visible";
        }
        else{
            document.getElementById("login").href = "/login";
            document.getElementById("login").innerHTML = "Login";
            document.getElementById("create").style.visibility = "hidden";
        }

    </script>
</body>

</html>