<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        function logout() {
            localStorage.setItem("loggedin", 'False');
            window.location.replace("/");
        }
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="css/styles.css">
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" id="create"><a class="nav-link" href="/createAccount">Create Account</a></li>
                    <li class="nav-item" id="selectdb"><a class="nav-link" href="/selectdb">Database</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#dashboard">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="/survey">Survey</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#alternatives">More</a></li>
                    <li class="nav-item" onclick="logout()"><a class="nav-link" href="/login" id="login">Login</a></li>
                    <li class="nav-item" id="modify"><a class="nav-link" href="/modify"><i class="fas fa-user"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">See The Data</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Please choose the database table you would like to
                        explore</h2>
                    <a class="btn btn-primary mx-4" href="/platforms">Platforms Table</a><a class="btn btn-primary mx-4"
                        href="/affiliations">Affiliations Table</a> <a class="btn btn-primary mx-4"
                        href="/database">Survey Table</a> <a class="btn btn-primary mx-4" href="/summary">Summary</a>
                </div>
            </div>
        </div>
    </header>
    <script>
        if ((localStorage.getItem("loggedin") == 'True') && (localStorage.getItem("admin") == 'True')) {
            document.getElementById("login").href = "#";
            document.getElementById("login").innerHTML = "Logout";
            document.getElementById("create").style.visibility = "visible";
            document.getElementById("modify").style.visibility = "hidden";
            document.getElementById("selectdb").style.visibility = "visible";
        }
        else if ((localStorage.getItem("loggedin") == 'True') && (localStorage.getItem("admin") == 'False')) {
            document.getElementById("login").href = "#";
            document.getElementById("login").innerHTML = "Logout";
            document.getElementById("create").style.visibility = "hidden";
            document.getElementById("modify").style.visibility = "visible";
            document.getElementById("selectdb").style.visibility = "visible";
        }
        else {
            window.location.replace("/login");
            alert("You do not have the necessary access to view this page. Please contact your administrator if you think this is a mistake.")
        }

    </script>
</body>

</html>