<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        function logout() {
            localStorage.setItem("loggedin", 'False');
            window.location.replace("/");
        }
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Survey</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="css/styles.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" id="create"><a class="nav-link" href="/createAccount">Create Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#dashboard">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="/survey">Survey</a></li>
                    <li class="nav-item"><a class="nav-link" href="/selectdb">Database</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#bagongkwan">More</a></li>
                    <li class="nav-item" onclick="logout()"><a class="nav-link" href="/login" id="login">Login</a></li>
                    <li class="nav-item" id="modify"><a class="nav-link" href="/modify"><i class="fas fa-user"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Take Our Survey</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Help us raise awareness for mental health issues by
                        taking our 5 minute survey</h2>
                    <a class="btn btn-primary" href="#personal-info">Take Survey</a>
                </div>
            </div>
        </div>
    </header>

    <section class="bg-light">
        <div class="row">
            <div class="col-lg-3 col-sm-2"></div>
            <div class="col-lg-6 col-sm-8">
                <form action="/post-survey" method="post">
                    <fieldset class="projects-section">
                        <legend id="personal-info">Personal Information</legend>
                        <label for="age">Enter your age</label> <input type="number" name="age" placeholder="Age"
                            id="age" min="0" max="100" required>
                        <br><br>
                        <label for="gender">Select your gender</label>
                        <select name="gender" id="gender" required>
                            <option value="" disabled selected>- select -</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Non-binary">Non-Binary</option>
                        </select>
                        <br><br>
                        <label for="rel_status">Select your relationship status</label>
                        <select name="rel_status" id="rel_status" required>
                            <option value="" disabled selected>- select -</option>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="In a relationship">In a relationship</option>
                            <option value="Divorced">Divorced</option>
                        </select>
                        <br><br>
                        <label for="occ_status">Select your current occupation</label>
                        <select name="occ_status" id="occ_status" required>
                            <option value="" disabled selected>- select -</option>
                            <option value="School Student">School Student</option>
                            <option value="University Student">University Student</option>
                            <option value="Salaried Worker">Salaried Worker</option>
                            <option value="Retired">Retired</option>
                        </select>
                        <br><br>
                        <legend>Select all Organizations you are affiliated with: </legend>
                        <table>
                            <tr>
                                <td>
                                    <label for="school">School</label>
                                </td>
                                <td>
                                    <select name="a_school" id="school">
                                        <option value="0" selected>no</option>
                                        <option value="1">yes</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="university">University</label>
                                </td>
                                <td>
                                    <select name="a_university" id="university">
                                        <option value="0" selected>no</option>
                                        <option value="1">yes</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="private">Private</label>
                                </td>
                                <td>
                                    <select name="a_private" id="private">
                                        <option value="0" selected>no</option>
                                        <option value="1">yes</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="government">Government</label>
                                </td>
                                <td>
                                    <select name="a_government" id="government">
                                        <option value="0" selected>no</option>
                                        <option value="1">yes</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="company">Company</label>
                                </td>
                                <td>
                                    <select name="a_company" id="company">
                                        <option value="0" selected>no</option>
                                        <option value="1">yes</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="null">None</label>
                                </td>
                                <td>
                                    <select name="a_null" id="null">
                                        <option value="0" selected>no</option>
                                        <option value="1">yes</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <label for="location">Select your location</label>
                        <select name="location" id="location" required>
                            <option value="Provo" selected>Provo</option>
                            <option value="Plainsville">Plainsville</option>
                        </select>
                        <br><br>
                        <a class="btn btn-primary" href="#socials">Next</a>
                    </fieldset>
                    <fieldset class="projects-section">
                        <legend id="socials">Social Media Preferences</legend>
                        <label for="social_media_usage">Do you use Social Media?</label>
                        <select name="social_media_usage" id="social_media_usage" required>
                            <option value="" disabled selected>- select -</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                        <br><br>
                        <!--Facebook, Twitter, Instagram, YouTube, Discord, Reddit, Pinterest, Snapchat, TikTok-->
                        <legend>What social media platforms do you commonly use?</legend>
                        <p>(select all that apply)</p>
                        <table>
                            <tr>
                                <td>
                                    <label for="facebook">Facebook</label>
                                </td>
                                <td>
                                    <select name="p_facebook" id="facebook">
                                        <option value="0" selected>no</option>
                                        <option value="1">yes</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="twitter">Twitter</label>
                                </td>
                                <td>
                                    <select name="p_twitter" id="twitter">
                                        <option value="0" selected>no</option>
                                        <option value="1">yes</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="instagram">Instagram</label>
                                </td>
                                <td>
                                    <select name="p_instagram" id="instagram">
                                        <option value="0" selected>no</option>
                                        <option value="1">yes</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="youtube">Youtube</label>
                                </td>
                                <td>
                                    <select name="p_youtube" id="youtube">
                                        <option value="0" selected>no</option>
                                        <option value="1">yes</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="discord">Discord</label>
                                </td>
                                <td>
                                    <select name="p_discord" id="discord">
                                        <option value="0" selected>no</option>
                                        <option value="1">yes</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="reddit">Reddit</label>
                                </td>
                                <td>
                                    <select name="p_reddit" id="reddit">
                                        <option value="0" selected>no</option>
                                        <option value="1">yes</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="pinterest">Pinterest</label>
                                </td>
                                <td>
                                    <select name="p_pinterest" id="pinterest">
                                        <option value="0" selected>no</option>
                                        <option value="1">yes</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label for="snapchat">Snapchat</label>
                                </td>
                                <td>
                                    <select name="p_snapchat" id="snapchat">
                                        <option value="0" selected>no</option>
                                        <option value="1">yes</option>
                                    </select>
                                </td>
                            </tr>
                            <td>
                                <label for="tiktok">Tiktok</label>
                            </td>
                            <td>
                                <select name="p_tiktok" id="tiktok">
                                    <option value="0" selected>no</option>
                                    <option value="1">yes</option>
                                </select>
                            </td>
                            </tr>
                        </table>
                        <br><br>
                        <label for="avg_time_social">What is the average time you spend on Social Media every
                            day?</label>
                        <select name="avg_time_social" id="avg_time_social" required>
                            <option value="" disabled selected>- select -</option>
                            <option value="Less than an hour">Less than an hour</option>
                            <option value="Between 1 and 2 hours">Between 1 and 2 hours</option>
                            <option value="Between 2 and 3 hours">Between 2 and 3 hours</option>
                            <option value="Between 3 and 4 hours">Between 3 and 4 hours</option>
                            <option value="Between 4 and 5 hours">Between 4 and 5 hours</option>
                            <option value="More than 5 hours">More than 5 hours</option>
                        </select>
                        <br><br>
                        <a class="btn btn-primary" href="#personal-info">Back</a>
                        <a class="btn btn-primary" href="#survey">Next</a>
                    </fieldset>

                    <fieldset class="projects-section">
                        <legend id="survey">Survey Questions</legend>
                        <p>Please answer the following questions using the following range:</p>
                        <p>1 - Never <br> 2 - Rarely <br> 3 - Sometimes <br> 4 - Frequently <br> 5 - Always
                        </p>
                        <label for="q1">1. How often do you find yourself using social media without a specific
                            purpose?</label><br>
                        <label id="amount1"></label>
                        <input type="range" name="q1" id="q1" value="1" step="1" min="1" max="5"
                            onchange="showValue(1, this.value);" required>
                        <label id="amount1"></label>
                        <br>
                        <label for="q2">2. How often do you get distracted by social media when you are busy doing
                            something?</label> <br>
                        <label id="amount2"></label>
                        <input type="range" name="q2" id="q2" value="1" step="1" min="1" max="5"
                            onchange="showValue(2, this.value);" required>
                        <label id="amount2"></label>
                        <br>
                        <label for="q3">3. Do you feel restless if you haven’t used social media in a while?</label><br>
                        <label id="amount3"></label>
                        <input type="range" name="q3" id="q3" value="1" step="1" min="1" max="5"
                            onchange="showValue(3, this.value);" required>
                        <label id="amount3"></label>
                        <br>
                        <label for="q4">4. How easily distracted are you?</label> <br>
                        <label id="amount4"></label>
                        <input type="range" name="q4" id="q4" value="1" step="1" min="1" max="5"
                            onchange="showValue(4, this.value);" required>
                        <label id="amount4"></label>
                        <br>
                        <label for="q5">5. How often are you bothered by worries?</label> <br>
                        <label id="amount5"></label>
                        <input type="range" name="q5" id="q5" value="1" step="1" min="1" max="5"
                            onchange="showValue(5, this.value);" required>
                        <label id="amount5"></label>
                        <br>
                        <label for="q6">6. Do you find it difficult to concentrate on things?</label> <br>
                        <label id="amount6"></label>
                        <input type="range" name="q6" id="q6" value="1" step="1" min="1" max="5"
                            onchange="showValue(6, this.value);" required>
                        <label id="amount6"></label>
                        <br>
                        <label for="q7">7. How often do you compare yourself to other successful people through the use
                            of social media?</label><br>
                        <label id="amount7"></label>
                        <input type="range" name="q7" id="q7" value="1" step="1" min="1" max="5"
                            onchange="showValue(7, this.value);" required>
                        <label id="amount7"></label>
                        <br>
                        <label for="q8">8. Following the previous question, how do you feel about these comparisons,
                            generally speaking? (1 being poor, 5 being great)</label> <br>
                        <label id="amount8"></label>
                        <input type="range" name="q8" id="q8" value="1" step="1" min="1" max="5"
                            onchange="showValue(8, this.value);" required>
                        <label id="amount8"></label>
                        <br>
                        <label for="q9">9. How often do you look to seek validation from features of social
                            media?</label> <br>
                        <label id="amount9"></label>
                        <input type="range" name="q9" id="q9" value="1" step="1" min="1" max="5"
                            onchange="showValue(9, this.value);" required>
                        <label id="amount9"></label>
                        <br>
                        <label for="q10">10. How often do you feel depressed or down?</label><br>
                        <label id="amount10"></label>
                        <input type="range" name="q10" id="q10" value="1" step="1" min="1" max="5"
                            onchange="showValue(10, this.value);" required>
                        <label id="amount10"></label>
                        <br>
                        <label for="q11">11. How frequently does your interest in daily activities
                            fluctuate?</label><br>
                        <label id="amount11"></label>
                        <input type="range" name="q11" id="q11" value="1" step="1" min="1" max="5"
                            onchange="showValue(11, this.value);" required>
                        <label id="amount11"></label>
                        <br>
                        <label for="q12">12. How often do you face issues regarding sleep?</label><br>
                        <label id="amount12"></label>
                        <input type="range" name="q12" id="q12" value="1" step="1" min="1" max="5"
                            onchange="showValue(12, this.value);" required>
                        <label id="amount12"></label>
                        <br><br>
                        <a class="btn btn-primary" href="#socials">Back</a>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </fieldset>
                </form>
            </div>
            <div class="col-lg-3 col-sm-2"></div>
        </div>
    </section>
    <script>
        if ((localStorage.getItem("loggedin") == 'True') && (localStorage.getItem("admin") == 'True')) {
            document.getElementById("login").href = "#";
            document.getElementById("login").innerHTML = "Logout";
            document.getElementById("create").style.visibility = "visible";
            document.getElementById("modify").style.visibility = "hidden";
        }
        else if ((localStorage.getItem("loggedin") == 'True') && (localStorage.getItem("admin") == 'False')) {
            document.getElementById("login").href = "#";
            document.getElementById("login").innerHTML = "Logout";
            document.getElementById("create").style.visibility = "hidden";
            document.getElementById("modify").style.visibility = "visible";
        }
        else {
            document.getElementById("login").href = "/login";
            document.getElementById("login").innerHTML = "Login";
            document.getElementById("create").style.visibility = "hidden";
            document.getElementById("modify").style.visibility = "hidden";
        }
    </script>

</body>

</html>