<!DOCTYPE html>
<html lang="en">
<head>
  <script>
    if (localStorage.getItem("loggedin")){
      window.location.replace("login.html");
    }
    else {
      ("#nav-placeholder").load("database.html");
    }
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <label><b>Mental Health Information</b></label>
   <br><br>
   <div>
    <form action="/links" method="post">
    <label for="limit">rows per page</label>
    <select name="limit" id="limit" required>
        <option value="" disabled selected>- select -</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
    <br>
    <label for="page">jump to page</label> <input name="page" type="number" placeholder="enter page number">
    <button type="submit">update</button> 
    </form>
</div>
   <table style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
     <thead style="background-color: cornflowerblue; color: white;">
       <tr>
         <th style="text-align: left;">ID</th>
         <th style="text-align: left;">AFFILIATIONS</th>
         <th style="text-align: left;">PLATFORMS</th>
       </tr>
     </thead>
     <tbody style="font-family: Arial; font-size: 9pt;">
      <% for (let iCount = 0; iCount < db.length; iCount++) { %>
         <tr>
           <td><%= db[iCount].unique_id %></td>
           <td><%= db[iCount].affiliation_org %></td>
           <td><%= db[iCount].social_media_platform %></td>
           <td style="text-align: center;">
           </td>
         </tr>
      <% } %>
     </tbody>
   </table>
   <br><br>
</body>
</html>